# PYTHON - Final Exam 
### Pierre YVENOU - Paul GRAVIS
SKEMA BS - 25-26

## Imports

In [39]:
import numpy as np
import pandas as pd

# historical stock data
historical_stock_data_df = pd.read_csv('tech_companies_stock_prices-2.csv')
# historical performance data
historical_performance_pt_mgmt_df = pd.read_csv('test_portfolio.csv')

## Cleaning data  (historical_stock_data_df)

In [42]:
historical_stock_data_df.drop(columns=['Unnamed: 0.1','Unnamed: 0'], inplace=True)
historical_stock_data_df.head(10)
historical_stock_data_df

,Date,Stock_name,Open,Close,Close_1,Open_1,Close_2,Open_2,Close_3,Open_3,Close_4,Open_4,Close_5,Open_5
0,2023-10-09,AAPL,176.809998,178.990005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-10-10,AAPL,178.100006,178.389999,178.990005,176.809998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-10-11,AAPL,178.199997,179.800003,178.389999,178.100006,178.990005,176.809998,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-10-12,AAPL,180.070007,180.710007,179.800003,178.199997,178.389999,178.100006,178.990005,176.809998,NaN,NaN,NaN,NaN
4,2023-10-13,AAPL,181.419998,178.850006,180.710007,180.070007,179.800003,178.199997,178.389999,178.100006,178.990005,176.809998,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1815,2024-10-14,NVDA,136.470001,138.070007,134.800003,134.009995,134.809998,131.910004,132.649994,134.110001,132.889999,130.259995,127.720001,124.989998
1816,2024-10-15,NVDA,137.869995,131.600006,138.070007,136.470001,134.800003,134.009995,134.809998,131.910004,132.649994,134.110001,132.889999,130.259995
1817,2024-10-16,NVDA,133.979996,135.720001,131.600006,137.869995,138.070007,136.470001,134.800003,134.009995,134.809998,131.910004,132.649994,134.110001
1818,2024-10-17,NVDA,139.339996,136.929993,135.720001,133.979996,131.600006,137.869995,138.070007,136.470001,134.800003,134.009995,134.809998,131.910004
1819,2024-10-18,NVDA,138.669998,138.000000,136.929993,139.339996,135.720001,133.979996,131.600006,137.869995,138.070007,136.470001,134.800003,134.009995

## Cleaning data  (historical_performance_pt_mgmt_df)

In [43]:
historical_performance_pt_mgmt_df.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)
historical_performance_pt_mgmt_df.head(10)

,Date,TSLA,AAPL,AMZN,MSFT,NVDA,META,GOOGL,cash,value
0,2023-10-09,0.0,561.0,201.0,333.0,0.0,0.0,489.0,333.959930,304045.053452
1,2023-10-10,0.0,4.0,-2.0,-2.0,0.0,0.0,1.0,68.659973,303305.982361
2,2023-10-11,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,129.740005,307122.227936
3,2023-10-12,0.0,-1.0,-2.0,4.0,0.0,0.0,-5.0,-172.620010,306555.915863
4,2023-10-13,0.0,-3.0,-1.0,-1.0,0.0,0.0,7.0,33.959961,303080.545944
5,2023-10-16,0.0,7.0,1.0,-3.0,0.0,0.0,-2.0,-98.450043,306050.858948
6,2023-10-17,0.0,0.0,0.0,1.0,0.0,0.0,-2.0,-52.329987,305059.516388
7,2023-10-18,0.0,4.0,1.0,-2.0,0.0,0.0,-2.0,111.659973,302161.527100
8,2023-10-19,0.0,-1.0,-1.0,0.0,0.0,0.0,3.0,-108.889999,302295.104858
9,2023-10-20,0.0,-1.0,3.0,-2.0,0.0,0.0,2.0,179.939987,297603.429611

## debugging purposes

In [33]:
print("Stock Data Columns:", historical_stock_data_df.columns)
print("Performance Data Columns:", historical_performance_pt_mgmt_df.columns)

Stock Data Columns: Index(['Unnamed: 0.1', 'Date', 'Date', 'Stock_name', 'Open', 'Close',
       'Close_1', 'Open_1', 'Close_2', 'Open_2', 'Close_3', 'Open_3',
       'Close_4', 'Open_4', 'Close_5', 'Open_5'],
      dtype='object')
Performance Data Columns: Index(['Date', 'TSLA', 'AAPL', 'AMZN', 'MSFT', 'NVDA', 'META', 'GOOGL', 'cash',
       'value'],
      dtype='object')

## Step 1: Reconstruct the portfolio (at the end of each day)
- Numbers of stocks and cash

In [57]:
stock_names = historical_performance_pt_mgmt_df.columns.tolist()
stock_names
exclude = ['Date', 'cash', 'value']
stock_names = [s for s in stock_names if s not in exclude]
stock_names

['TSLA', 'AAPL', 'AMZN', 'MSFT', 'NVDA', 'META', 'GOOGL']

In [ ]:
merged_df = pd.merge(historical_stock_data_df, historical_performance_pt_mgmt_df, on='Date', how='inner')
for stock in stock_names:
    merged_df[stock + '_Value'] = merged_df[stock] * merged_df['Close']
    merged_df[stock + '_Amount'] = merged_df[stock].cumsum()
merged_df.head(10)

,Date,Stock_name,Open,Close,Close_1,Open_1,Close_2,Open_2,Close_3,Open_3,...,AMZN_Value,AMZN_Amount,MSFT_Value,MSFT_Amount,NVDA_Value,NVDA_Amount,META_Value,META_Amount,GOOGL_Value,GOOGL_Amount
0,2023-10-09,AAPL,176.809998,178.990005,NaN,NaN,NaN,NaN,NaN,NaN,...,35976.991104,201.0,59603.671829,333.0,0.0,0.0,0.0,0.0,87526.112686,489.0
1,2023-10-10,AAPL,178.100006,178.389999,178.990005,176.809998,NaN,NaN,NaN,NaN,...,-356.779999,199.0,-356.779999,331.0,0.0,0.0,0.0,0.0,178.389999,490.0
2,2023-10-11,AAPL,178.199997,179.800003,178.389999,178.100006,178.990005,176.809998,NaN,NaN,...,-179.800003,198.0,0.000000,331.0,0.0,0.0,0.0,0.0,0.000000,490.0
3,2023-10-12,AAPL,180.070007,180.710007,179.800003,178.199997,178.389999,178.100006,178.990005,176.809998,...,-361.420013,196.0,722.840027,335.0,0.0,0.0,0.0,0.0,-903.550034,485.0
4,2023-10-13,AAPL,181.419998,178.850006,180.710007,180.070007,179.800003,178.199997,178.389999,178.100006,...,-178.850006,195.0,-178.850006,334.0,0.0,0.0,0.0,0.0,1251.950043,492.0
5,2023-10-16,AAPL,176.750000,178.720001,178.850006,181.419998,180.710007,180.070007,179.800003,178.199997,...,178.720001,196.0,-536.160004,331.0,0.0,0.0,0.0,0.0,-357.440002,490.0
6,2023-10-17,AAPL,176.649994,177.149994,178.720001,176.750000,178.850006,181.419998,180.710007,180.070007,...,0.000000,196.0,177.149994,332.0,0.0,0.0,0.0,0.0,-354.299988,488.0
7,2023-10-18,AAPL,175.580002,175.839996,177.149994,176.649994,178.720001,176.750000,178.850006,181.419998,...,175.839996,197.0,-351.679993,330.0,0.0,0.0,0.0,0.0,-351.679993,486.0
8,2023-10-19,AAPL,176.039993,175.460007,175.839996,175.580002,177.149994,176.649994,178.720001,176.750000,...,-175.460007,196.0,0.000000,330.0,0.0,0.0,0.0,0.0,526.380020,489.0
9,2023-10-20,AAPL,175.309998,172.880005,175.460007,176.039993,175.839996,175.580002,177.149994,176.649994,...,518.640015,199.0,-345.760010,328.0,0.0,0.0,0.0,0.0,345.760010,491.0

In [68]:
# we try with one example (because hard to see if 
# it's working above with all the columns/stocks at the same time)
test_aapl_df = merged_df[['Date','AAPL', 'Close', 'AAPL_Value', 'AAPL_Amount']]
test_aapl_df.head(10)

         Date   AAPL       Close     AAPL_Value  AAPL_Amount
0  2023-10-09  561.0  178.990005  100413.393082        561.0
1  2023-10-10    4.0  178.389999     713.559998        565.0
2  2023-10-11    0.0  179.800003       0.000000        565.0
3  2023-10-12   -1.0  180.710007    -180.710007        564.0
4  2023-10-13   -3.0  178.850006    -536.550018        561.0
5  2023-10-16    7.0  178.720001    1251.040009        568.0
6  2023-10-17    0.0  177.149994       0.000000        568.0
7  2023-10-18    4.0  175.839996     703.359985        572.0
8  2023-10-19   -1.0  175.460007    -175.460007        571.0
9  2023-10-20   -1.0  172.880005    -172.880005        570.0

## Step 2: Use models to perform predictions 
Models: 
- Linear regression
- SVM
- Decision trees
- Neural networks